{% extends "base.html" %}

{% block title %}Shared Books{% endblock %}

{% block nav %}
              <li><a href="/">Home</a></li>
              <li><a href="/list_book">My Books</a></li>
              <li class="active"><a href="#">Shered Books</a></li>
              <li><a href="/search_book">Search Books</a></li>
{% endblock %}

{% block content %}
      <h1>Shared Books</h1>
      <p>社内にはどんな本があるでしょうか。</p>

      {% if books %}
      <div class="alert alert-block alert-info">
        <h4 class="alert-heading">Hint!</h4>
        検索した本のタイトルをクリックすると、本の持ち主の一覧が確認できます。
      </div>
      <ul class="thumbnails">
        {% for book in books %}
        <li class="span3">
          <div class="thumbnail well book-thumbnail">
            <img class="book-img" src="{{ book.image_url }}" alt="book-img"/>
            <div class="title"><a href="/show_book?id={{ book.book_id }}">{{ book.title }}</a></div>
            <p>{% if book.author %}<span class="author">{{ book.author }}</span>{% endif%}
            {% if book.publisher %}<span class="publisher">{{ book.publisher }}</span>{% endif%}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="alert alert-block alert-info">
        <h4 class="alert-heading">Hint!</h4>
        社内では、まだ誰も本を登録していません。まずは、あなたの本を登録してみてください。<br/>
      </div>
      {% endif %}
{% endblock %}
